# Drug Consumption Final Project for COMP 562 - Logistic Regression
 ### by Tarini Ramesh

## Import Libraries and Data

In [62]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

import torch
import torch.nn as nn
import torchvision.transforms as transforms
import torchvision.datasets as dsets

drug_labels = ['Alcohol','Amphet','Amyl','Benzos','Caff','Choc','Coke','Crack','Ecstasy','Heroin','Ketamine','Legalh','LSD','Meth','Mushrooms','Nicotine','VSA']
sched_1 = ['Heroin','LSD','Ecstasy','Mushrooms']
sched_2 = ['Amphet','Coke','Crack','Meth']
sched_3 = ['Ketamine']
sched_4 = ['Benzos']
not_controlled_substance = ['Alcohol','Amyl','Caff','Choc','Legalh','Nicotine','VSA']
schedules = ['Sch1','Sch2','Sch3','Sch4', 'SchNA']
personality_labels = ['Nscore','Escore','Oscore','Ascore','Cscore','Impulsive','SS']
demographic_labels = ['Age','Gender','Education','Country','Ethnicity']
target_label = ['Cannabis']

In [63]:
drugs = pd.read_csv('drugs.txt')
print(drugs.shape)
drugs.head()

(1877, 35)

,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,Cscore,...,LSD,Meth,Mushrooms,Nicotine,VSA,Sch1,Sch2,Sch3,Sch4,SchNA
0,35-44,1,Professional certificate/ diploma,UK,Mixed-White/Asian,39.0,36.0,42.0,37.0,42.0,...,0,0,0,1,0,0,1,0,1,1
1,25-34,0,Doctorate degree,UK,White,29.0,52.0,55.0,48.0,41.0,...,1,1,0,1,0,1,1,1,0,1
2,35-44,0,Professional certificate/ diploma,UK,White,31.0,45.0,40.0,32.0,34.0,...,0,0,1,0,0,1,0,0,0,1
3,18-24,1,Masters degree,UK,White,34.0,34.0,46.0,47.0,46.0,...,0,0,0,1,0,0,1,1,1,1
4,35-44,1,Doctorate degree,UK,White,43.0,28.0,43.0,41.0,50.0,...,0,0,1,1,0,1,1,0,0,1

## Logistic Regression

### Binary

In [75]:
drugsC = pd.read_csv('SVMdrugs.txt')
X = drugsC.drop(target_label, 1)
y = drugsC['Cannabis']
y = np.where((y == 'CL0'), 0, 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1)
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
clf.predict(X_test)
clf.predict_proba(X_test)

print(clf.score(X_test, y_test))

0.898936170212766

C:\Users\tramesh\AppData\Local\Temp/ipykernel_21208/3368451380.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = drugsC.drop(target_label, 1)

In [ ]:
https://www.deeplearningwizard.com/deep_learning/practical_pytorch/pytorch_logistic_regression/